.main{
    background-color: purple;
    border-left-width: 5px;
    padding: 10px;
    width: 200px;
    border-left-color: green;
}
#heading{
    font-size: 20px;
    color: white;
    text-decoration: underline;
}
/* Your CSS Code here. */